<div class="container" style="margin-top: 70px;" id="site-body">
    <div id="contactUsMain " class="section">
    <div class="content bg-light">
    <h1 class="title bg-dark text-align-center" style="color: white;">Contact Us</h1>
    <div class="row">
    <div id="needhelp" class="col">
    <div class="icon"></div>
    <h2 class="subtitle">By Phone</h2>
    <p class="desc">
    <small>(Monday to Friday, 9am to 6pm PST)</small>
    <br>
    North America Toll-Free:<br>
    1-877-930-7483
    <br><br>
    International:<br>
    1-604-637-0780
    </p>
    </div>
    <div id="start-case" class="col">
    <div class="icon newcase"></div>
    <h2 class="subtitle">Start a new case</h2>
    <p class="desc">
    Just send us your questions or concerns by starting
    a new case and we will give you the help you need.
    </p><div class="button">
    <a href="https://www.website.com/case-tracker/new-case/">Start Here</a>
    </div>
    <p></p>
    </div>
    <div id="livechat" class="col">
    <div class="icon"></div>
    <h2 class="subtitle">Live Chat</h2>
    <p class="desc">
    Chat with a member of our in-house team.
    </p><div class="button">
    <a href="javscript:void(0)" class="liveChatApp" title="Start Chat">Start Chat</a>
    </div>
    <p></p>
    </div>
    </div>
    </div>
    </div>
    